img {
  max-width: 100%;
  height: auto;
}

// Abhishek's work
.single article.review {
  .single-image {
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Yuvraj's work
section.features {
  article {
    .article-image {
      img {
        max-height: 600px;
        width: auto;
        object-fit: cover;
      }
    } 
  }
}

// Sultan's work
section.reviews {
  article {
    & > a {
      img {
        object-fit: cover;
        height: 100%;
        display: block;
        overflow: hidden;

        &:hover {
          transform: scale(1.4)
        }

        transition: transform .3s ease-out;
      }
    }

    .review-content {
      .author {
        img {
          object-fit: cover;
          border-radius: 50%;
          height: 45px;
          width: 45px;
        }
      }
    }
  }
}

.review-page-content {
  & > img {
      max-width: 80%;
      display: block;
      margin: auto;
  }
}

// Amandeep's work
section.team-members {
  article {
    div:first-of-type {
      img {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        object-fit: cover;
      }
    }  
  }
}