// Sultan's work

// Site footer
header {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid $header-border-bottom;

  @media screen and (min-width: 525px) {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .site-branding {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 610px) {
      gap: 3rem;
    }
  }

  img {
    max-width: 50px;
    height: auto;
  }

  a,
  a:visited {
    color: $text-color;
    text-decoration: none;
  }

  li.current-menu-item {
    a {
      color: $link-color2;
      font-weight: 600;
    }
  }
}

// Site footer
footer {
  padding: 0.2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: $footer-background;
  color: white;
}
