// Variables
$site-font: "Open Sans", Helvetica, Arial, Sans-serif;

$link-color1: #5078b5;
$link-color2: #fa812a;
$text-color: #1c1c1c;
$text-color-light: #737373;
$footer-background: black;
$header-border-bottom: lightgray;
$call-to-action-color: #032963;
